<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<nav>
    <table class="nav-table">
        <tr>
            <td class="nav-item"><a th:href="@{/}">Home</a></td>
            <td class="nav-item"><a th:href="@{/tasks}">Tasks</a></td>
            <td class="nav-item"><a th:href="@{/logout}">Logout</a></td>
            <td class="nav-item"><a th:href="@{/admin}">Admin</a></td>
        </tr>
    </table>

</nav>
<body>
    <br>
    <br>
    <br>
    <br>
    <div layout:fragment="content">
    <p>Body contents</p>
    </div>

</body>
</html>